.project-card {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0px;
  flex-direction: column;
}

.project-photo {
  width: 80%;
  margin-top: 30px;
  border: 1px solid	#696969;
}

.project-info {
  margin-right: 24px;
}

.project-title {
  font-size: 23px;
  font-weight: 600;
}

.project-tags {
  display: flex;
  max-width: 60%;
  flex-wrap: wrap;
}

.tag {
  padding: 4px 8px;
  color: black;
  background-color:		#C8C8C8;
  border-radius: 4px;
  margin-right: 6px;
  margin-bottom: 4px;
  border: 1px solid	#696969;
}

.project-links a {
  text-decoration: none;
  color: white;
}

.project-links {
  margin-top: 6px;
  display: flex;
}

.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6937cc;
  width: max-content;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 6px;
  margin-top: 12px;
  transition-property: background-color;
  transition-duration: 300ms;
}

.link-button i {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.link-button:hover {
  background-color: #9745ff;
}

.project-about {
  line-height: 22px;
  font-size: 19px;
  text-align:justify;
}

.demo-icon {
  margin-right: 5px;
}

.github-icon {
  font-size: 20px;
}

@media only screen and (max-width: 720px) {
  .project-photo {
    width: 90%;
  }
  .project-card {
    flex-direction: column;
  }
  .project-info {
    margin-left: 0px;
    margin-right: 12px;
  }
  .project-tags {
    max-width: 100%;
  }
  .project-about {
    font-size: 18px;
  }
}
