.about {
  padding-bottom: 48px;
}

.about-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.picture {
  height: 500px;
}

.about-info {
  font-size: 34px;
}

.info-name {
  color: #6937cc;
  font-size: 45px;
}

@media only screen and (max-width: 850px) {
  .about {
    margin-top: 70px;
  }

  .about-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .picture {
    height: 180px;
  }

  .about-info {
    font-size: 30px;
    text-align: center;
  }

  .info-name {
    font-size: 38px;
  }

  .about-top {
    padding-top: 30px;
  }
  .about-photo {
    margin-top: 30px;
  }
}
